:root,
html {
    --primary: #8c38ff;
    --light: #eeeeee;
    --dark: #212121;
    --darkened-primary: #4900af;
    --gold: #ffd700;
    font-size: 62.5%;
}

body {
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.8rem; /* 18px */
    line-height: 1.5;
    font-weight: 300;
    background: var(--dark);
}

.hidden-item {
    visibility: none;
    display: none;
}

/* login */
.login-link svg {
    width: 3rem;
    transition: 0.2s;
}

.login-link svg:hover {
    background: var(--darkened-primary);
    border-radius: 50%;
}

.app-container {
    max-width: 160rem;
    margin: 3rem auto;
    border-radius: 0.5rem;
    background-color: var(--light);
}
.app-navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 1rem 1rem 0 1rem;
}

.app-navigation nav ul {
    display: flex;
    padding: 0;
}

.app-navigation nav ul li {
    list-style-type: none;
    padding: 0 1rem;
}

.app-navigation nav ul li a {
    text-decoration: none;
    color: var(--dark);
    font-size: 2rem;
    transition: 0.2s;
    padding: 1rem;
    font-weight: bold;
}

.app-navigation nav ul li a:hover {
    background-color: var(--darkened-primary);
    border-radius: 0.5rem;
    color: var(--light);
}

.dashboard {
    display: flex;
}

.sidebar {
    min-width: 28.9rem;
    height: calc(100vh - 6.4rem);
    border-right: 1px solid black;
    padding: 1rem;
}

.other-links {
    display: flex;
    flex-direction: column;
}

.other-links a {
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
    transition: 0.2s;
    font-size: 2.4rem;
}

.other-links a:hover {
    color: var(--darkened-primary);
}

.add-item,
.submit-game button {
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: var(--primary);
    border-radius: 0.5rem;
    padding: 1rem 0;
    font-weight: bold;
    margin-bottom: 1rem;
    transition: 0.2s;
}

.submit-game button {
    width: auto;
    padding: 1rem 3rem;
}

.add-item:hover,
.submit-game button:hover,
.back-btn:hover {
    background-color: var(--darkened-primary);
    color: var(--light);
}

.widget {
    padding: 3rem;
}

/* write.html styles */
.add-new-game {
    padding: 1rem;
    text-align: center;
}

.display {
    display: flex;
    justify-content: center;
}

.display img {
    padding: 1rem;
    border: 1rem solid var(--primary);
    border-radius: 0.5rem;
    margin: 2rem 0;
    background-color: var(--dark);
    width: 30%;
}

.gameImageDes {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.gameImageDes:hover {
    color: var(--light);
    background-color: var(--dark);
}

.gameInfo {
    margin: 3rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.gameInfo label {
    font-weight: bold;
}

.gameInfo input {
    border-radius: 0.5rem;
    outline: none;
    padding: 0.6rem;
}

/* template style */
.game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6.2rem;
}

.game-class {
    width: 30%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--dark);
    height: 100%;
}

.game-class img {
    border-radius: 0.5rem;
}

.game-information {
    justify-content: space-between;
    font-weight: bold;
    color: var(--light);
    margin: 1rem 0;
}

.game-information span {
    color: var(--primary);
}

.game-detail svg {
    fill: var(--gold);
    width: 2rem;
}

.game-detail p:nth-child(1) {
    display: flex;
}

.game-detail {
    display: flex;
    justify-content: space-between;
}

.action-buttons {
    display: flex;
    gap: 1rem;
}

.action-buttons button {
    width: 100%;
    font-weight: bold;
    background-color: var(--primary);
    transition: 0.2s;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}

.action-buttons button:hover {
    background-color: var(--darkened-primary);
    color: var(--light);
}

/* edit.html styles */
.submit-game {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.back-btn {
    display: block;
    padding: 1rem 3rem;
    text-decoration: none;
    color: var(--light);
    cursor: pointer;
    border: none;
    background-color: var(--dark);
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    transition: 0.2s;
}

/* buy now */
.buynow {
    display: block;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--gold);
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    color: var(--dark);
    transition: 0.2s;
}

.buynow:hover {
    background-color: var(--light);
}
